{% extends "zim/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="auth_container">
    <div class="section-title">
        <h3 class="title">{% trans "Password reset" %}</h3>
    </div>

    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>

</div>

{% endblock %}