{% extends "zim/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="auth_container">
    <div class="section-title">
        <h3 class="title">{% trans "Change Password" %}</h3>

    </div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        {{ form.oldpassword.label_tag }}
        {{ form.oldpassword.errors }}
        <div class="input-group input-group-icon">
            {{ form.oldpassword }}
            <div class="input-icon"><i class="fa fa-key"></i></div>
        </div>
        {{ form.oldpassword.help_text }}


        {{ form.password1.label_tag }}
        {{ form.password1.errors }}
        <div class="input-group input-group-icon">
            {{ form.password1 }}
            <div class="input-icon"><i class="fa fa-unlock-alt"></i></div>
        </div>
        {{ form.password1.help_text }}

        {{ form.password2.label_tag }}
        {{ form.password2.errors }}
        <div class="input-group input-group-icon">
            {{ form.password2 }}
            <div class="input-icon"><i class="fa fa-unlock-alt"></i></div>
        </div>
        {{ form.password2.help_text }}

        <button type="submit" class="primary-btn" name="action">{% trans "Change Password" %}</button>
    </form>

</div>

{% endblock %}