{% extends 'zim/layout.html' %}
<!-- HOME -->
{% block show_menu %}show-on-click{% endblock %}

{% block home %}
<div id="home">
    <!-- container -->
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Blank</li>
            {% block breadcrums %}{% endblock %}
        </ul>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                </div>
            {% endfor %}
        </ul>
        {% endif %}




    </div>
</div>
{% endblock %}
<!-- /BREADCRUMB -->

<!-- section -->
{% block section %}
<div class="section">

    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            {% block content %}
            {% endblock %}

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
{% endblock %}
<!-- /section -->
