{% extends 'zim/base.html' %}
{% load humanize %}

{% block content %}
    <!--  Product Details -->
    <div class="product product-details clearfix">
        <div class="col-md-6">
            <div id="product-main-view">
                {% for img in product.productimage_set.all %}
                <div class="product-view">
                    <img src="{{ img.image.url }}" alt="">
                </div>
                {% endfor %}
            </div>
            <div id="product-view">
                {% for img in product.productimage_set.all %}
                <div class="product-view">
                    <img src="{{ img.image.url }}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-body">
                <div class="product-label">

                    {% if product.new %}
                        <span>New</span>
                    {% endif %}

                    {% if product.sale %}
                        <span class="sale">SALE</span>
                    {% endif %}

                </div>
                <h2 class="product-name" onclick="addToCart({{ product.id }})" id="product_name">{{ product.name }}</h2>
                <h3 class="product-price" id="product_price">
                    ${{ product.price | intcomma}}
                    {% if product.old_price %}
                    <del class="product-old-price">${{ product.old_price | intcomma}}</del>
                    {% endif %}
                </h3>
                <!--div>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>
                    <a href="#">3 Review(s) / Add Review</a>
                </div-->
                <p><strong>Availability:</strong> In Stock</p>
                <p><strong>Brand:</strong> E-SHOP</p>
                <form action="#" method="post">
                {% csrf_token %}
                <div class="product-options">

                    {% for attribute in product.productattribute_set.all %}
                    <div id="div{{ attribute.id }}" data-id="{{ attribute.id }}">
                        <ul class="size-option">
                            <li><span class="text-uppercase" data-id="{{ attribute.id }}">{{ attribute.attribute }}</span></li>
                            {% for value in attribute.attributevalue_set.all %}
                                <li><a href="#">{{ value.value }}</a></li>
                            {% endfor %}
                        </ul>
                        <input hidden  name="attr{{ attribute.id }}" id="attr{{ attribute.id }}">
                    </div>
                    {% endfor %}

                </div>

                <div class="product-btns">
                    <div class="qty-input">
                        <span class="text-uppercase">QTY: </span>
                        <input class="input" type="number" name="quantity" id="quantity" value="1">
                    </div>

                    <button type="button" class="primary-btn add-to-cart" onclick="addToCart({{ product.id }})"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    <div class="pull-right">
                        <button class="main-btn icon-btn" type="button"><i class="fa fa-heart"></i></button>
                        <button class="main-btn icon-btn" type="button"><i class="fa fa-exchange"></i></button>
                        <button class="main-btn icon-btn" type="button"><i class="fa fa-share-alt"></i></button>
                    </div>

                </div>
                <div class="addthis_inline_share_toolbox"></div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="product-tab">
                <ul class="tab-nav">
                    <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                    <li><a data-toggle="tab" href="#tab2">Reviews {% if reviews %}({{ reviews.count }}){% endif %}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        <p>{{ product.description|linebreaks  }}</p>
                    </div>
                    <div id="tab2" class="tab-pane fade in">

                        <div class="row">
                            <div class="col-md-6">
                                {% if reviews %}
                                <div class="product-reviews">
                                    <div class="single-review">
                                        <div class="review-heading">
                                            <div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
                                            <div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
                                            <div class="review-rating pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
                                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </div>

                                    <div class="single-review">
                                        <div class="review-heading">
                                            <div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
                                            <div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
                                            <div class="review-rating pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
                                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </div>

                                    <div class="single-review">
                                        <div class="review-heading">
                                            <div><a href="#"><i class="fa fa-user-o"></i> John</a></div>
                                            <div><a href="#"><i class="fa fa-clock-o"></i> 27 DEC 2017 / 8:0 PM</a></div>
                                            <div class="review-rating pull-right">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>
                                        </div>
                                        <div class="review-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute
                                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        </div>
                                    </div>

                                    <ul class="reviews-pages">
                                        <li class="active">1</li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                    </ul>
                                </div>
                                {% else %}
                                    <p>No reviews yet</p>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                TBA
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Product Details -->
    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /section -->

    <!-- section -->
    <div class="section">
    <!-- container -->
    <div class="container">
    <!-- row -->
    <div class="row">
    <!-- section title -->
    <div class="col-md-12">
        <div class="section-title">
            <h2 class="title">Picked For You</h2>
        </div>
    </div>
    <!-- section title -->
    {% for product in picked_products %}
    <!-- Product Single -->
    <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="product product-single">
                        <a href="{% url 'zim:product_detail' product.id %}">
                        <div class="product-thumb product_height">
                            <div class="product-label">
                                {% if product.new %}
                                    <span>New</span>
                                {% endif %}
                                {% if product.sale %}
                                <span class="sale">SALE</span>
                                {% endif %}
                            </div>
                            <!--button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button-->
                            <img src="{{ product.productimage_set.all.0.image.url }}" alt="">
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">
                                ${{  product.price | intcomma}}
                                {% if product.old_price %}
                                    <del class="product-old-price">${{  product.old_price | intcomma}}</del>
                                {% endif %}
                            </h3>
                            <!--div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o empty"></i>
                            </div-->
                            <h2 class="product-name">{{ product.name }}</h2>
                            <div class="product-btns">
                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                <a href="whatsapp://send?text={{ product.get_url }}" data-action="share/whatsapp/share">
                                    <button class="main-btn icon-btn"><i class="fa fa-whatsapp"></i></button>
                                </a>
                                <button class="main-btn icon-btn"><i class="fa fa-facebook"></i></button>
                                <button class="main-btn icon-btn"><i class="fa fa-instagram"></i></button>
                                <!--button class="primary-btn add-to-cart" onclick="addToCart()" id="add_to_cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button-->
                            </div>
                        </div>
                        </a>
                    </div>
    </div>
    <!-- /Product Single -->
    {% endfor %}

    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}

{% block shopping_cart %}
    <div class="product product-widget" id="add_to_list" id="item{{ item.id }}">
        <div class="product-thumb">
            <img src="{{ product.productimage_set.all.0.image.url }}" alt="">
        </div>
        <div class="product-body">
            <h3 class="product-price">${{ product.price |intcomma }}<span class="qty" id="qty">x{{ item.quantity }}</span></h3>
            <h2 class="product-name"><a href="#">{{ product.name }}</a></h2>
        </div>
        <button class="cancel-btn" onclick="deleteFromCart({{ item.id }})"><i class="fa fa-trash"></i></button>
    </div>
{% endblock %}




